<app-table-light *ngIf="collection$ | async as collection" [headers]="headers">

  <tr *ngFor="let item of collection">
    <td>{{ item.name }}</td>
    <td>{{ item.comment }}</td>
    <td>{{ item.ca | currency: 'EUR' }}</td>
    <td>{{ item | total: 'ttc' | currency: 'EUR' }}</td>
    <td [appState]="item.state">
      <select (change)="changeState(item, $event)">
        <option *ngFor="let state of states" [value]="state" [selected]="state === item.state">{{ state }}</option>
      </select>
    </td>
  </tr>

</app-table-light>
