@import 'theme';

.table-dark{
  .state-cancel,.state-inactif {
    background: $color-error;
  }
  .state-option {
    background: $color3;
  }
  .state-confirmed ,.state.actif{
    background: $color-success;
  }
}

app-template-a {
  .table-dark{
    .state-option {
      background: $color1;
    }
  }
}

app-template-b {
  .table-dark{
    .state-option {
      background: $color2;
    }
  }
}




























